.updater{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 6rem);
    direction: rtl;
}
.dashboard-button{
    align-self: center;
    height: 75%;
    width: 6rem;
    direction: ltr;
}

/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1024px) {
    .updater{
        grid-template-columns: repeat(2, 5rem);
        justify-content: center;
        align-content: center;
    }
    .dashboard-button{
        align-self: center;
        width: 5.2rem;
        direction: ltr;
        padding: 0.8rem;
    }
    
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 600px) {
    
}