.products__header{
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 1rem;
    margin-bottom: 2rem;
}

.checked-row{
    background-color: rgba(255, 0, 0, 0.321);
}

.Total-checked{
    padding-left: 1.3rem;
}

thead{
    color: var(--color-white);
}


/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1800px) {
    .products__header{
        grid-template-columns: 65% 32%;
        gap: 0.5rem;
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 600px) {
    .products__header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 0;
    }
}