.products__header{
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 1rem;
}

.Total-checked{
    padding-left: 1.3rem;
}

thead{
    color: var(--color-white);
}


/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1800px) {
    .products__header{
        grid-template-columns: 50% 45%;
        gap: 0.5rem;
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 720px) {
    .products__header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 0;
    }
}