.headerDropdown{
    width: 15%;
    padding: 1.5rem 1rem;
    border-radius: 0.8rem;
    box-shadow: var(--color-shadow) ;
    right: 4rem;
    position: absolute;
}

.headerList{
    display: grid;
    grid-template-rows: max-content;
    gap: 1rem;
}

.dropdown-item{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    background-color: var(--color-white);
}

.dropdown-item a{
    text-decoration: none;
    color: var(--color-black);
    transition: var(--transition);
}

.dropdown-item a:hover{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--color-main);
    text-decoration: underline;
}