.headerDropdown{
    width: 14%;
    padding: 1rem 0;
    border-radius: 0.8rem;
    box-shadow: var(--color-shadow) ;
    right: 1.7rem;
    position: absolute;
}

.headerList{
    display: grid;
    grid-template-rows: max-content;
    gap: 1rem;
}

.dropdown-item{
    font-size: 1.2rem;
    padding: 0.5rem 0;
    line-height: 1.7rem;
    text-align: center;
    background-color: var(--color-white);
    transition: linear 0.3s;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: var(--color-main);
    border-radius: 0.3rem;
}

.dropdown-item:hover a {
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 600;
}

.dropdown-item .dropdown-icon{
    position: relative;
    bottom: -4px;
    margin-left: 1.3rem;
    margin-right: 0.7rem;
    transition: linear 0.4s;
}

.dropdown-item:hover .dropdown-icon{
    -webkit-transform: translateX(-230%);
    transform: translateX(-230%);
}


.dropdown-item a{
    text-decoration: none;
    color: var(--color-black);
}