.btn {
    width: min-width;
}

.vouchers__header{
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 0.5rem;
}

.centering{
    text-align: center;
}

.chosen_num{
    padding-left: 1.5rem;
}

.white-txt{
    color: var(--color-white);
}

.chosen{
    background-color: rgba(0, 44, 89, 0.241);
}

.modal__cta{
    margin-top: 2rem;
    background: var(--color-main);
    border: 2px solid transparent;
    opacity: 0.9;
    border-radius: 0 0 0.7rem 0.7rem;
    padding: 0.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    transition: var(--transition);
}
.modal__cta.modal__cta-refresh, .modal__header.modal__header-refresh{
    color: var(--color-black);
    background: var(--color-secondary);
}
.modal__cta.modal__cta-delete, .modal__header.modal__header-delete{
    color:var(--color-black);
    background: var(--color-secondary);
}

.modal__header.modal__header-add {
    background: var(--color-main);
}

.delete-cta:hover{
    opacity: 1;
}

.btn-ondel{
    max-width: max-content;
    align-self: center;
    justify-self: center;
}
/* .safe-txt{
    color: var(--color-safe-text);
}

.danger-txt{
    color: var(--color-danger-txt);
} */

/* .cta-edit{
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* MODAL */
.modal__header{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    padding: 0.4rem;
    font-weight: 650;
    letter-spacing: 0.1rem;
    background-color: var(--color-secondary);
    border-radius: 0.7rem 0.7rem 0 0;
    margin-bottom: 2rem;
    opacity: 0.9;
    transition: var(--transition);
    cursor: default;
}

.modal__header:hover{
    opacity: 1;
    letter-spacing: 0.2rem;
}

.submit-add{
    width: 100%;
    font-size: 1.7rem;
    padding: 0.7rem;
    background-color: var(--color-main);
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: 0.1rem;
    border-radius: 0 0 0.7rem 0.7rem;
    cursor: pointer;
    transition: var(--transition);
    opacity: 0.9;
    margin-top: 1.6rem;
}

.submit-add:hover{
    background-color: var(--color-safe-text);
    opacity: 0.9;
    font-weight: 500;
    letter-spacing: 0.3rem;
    opacity: 1;
}

.modal__form-field{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 1.5rem;
}

.modal__form-field label{
    font-size: 1.1rem;
    font-weight: 500;
    align-self: center;
}
.MuiBox-root.css-1ejbb7y, .MuiBox-root.css-4vnzb8{
    padding: 1rem;
}


/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1800px) {
    .vouchers__header{
        grid-template-columns: 50% 45%;
    }

    Searcher, Updater{
        align-self: center;
    }
    .delete-cta{
        padding: 0.7rem;
        gap: 1.2rem;
    }
    .modal__header{
        font-size: 1.6rem;
        padding: 0.9rem;
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 720px) {
    .vouchers__header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 0;
    }
}