.vouchers__header{
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* .cta-edit{
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1024px) {
    .vouchers__header{
        grid-template-columns: 65% 32%;
        gap: 0.5rem;
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 600px) {
    .vouchers__header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        margin-bottom: 0;
    }
}