.NewPassword{
    display: grid;
    grid-template-columns: 20% 80%;
}

.NewPassword__header-logo{
    max-width: 8rem;
    display: block;
    margin: 0.5rem auto;
}

.NewPassword__header-logo.logo__payoo{
    max-width: 12rem;
    display: block;
    padding-left: 0.5rem;
}

.NewPassword__header-logoes{
    margin: 2rem auto;
}

.NewPassword__form{
    width: 70%;
    padding: 0 18rem;
    margin-top: 10rem;
}

.form__header{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-main);
    margin: 2rem auto;
}

.form__field-label{
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.2rem;
}

.form__field-input{
    background-color: transparent;
    border: 1px solid var(--color-main);
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    width: 100%;
}

.form__field-input:active{
    background-color: transparent;
}

.check_msg{
    padding: 0.5rem 2.5rem;
}

.check_msg-item{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--color-danger-text)
}
.success_msg-item{
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--color-safe-text)
}

.check_msg-item__icon{
    margin: auto 0;
    padding-top: 10px;
    display: inline-block;
    color: var(--color-danger-text)
}

.success_msg-item__icon{
    margin: auto 0;
    padding-top: 10px;
    display: inline-block;
    color: var(--color-safe-text)
}

.form__submit {
    text-align: center;
    padding-top: 2rem;
}