.loginForm{
    width: calc(var(--container-width-lg) - 45%);
    position: absolute;
    margin-top: 1.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginForm__greeting{
    color: var(--color-main);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.8rem;
    border: 0.15rem solid var(--color-main);
    border-bottom: none;
    border-radius: 0.7rem 0.7rem 0 0;
}

.loginForm__form{
    padding:0.5rem;
}

.loginForm__userInput{
    border: 0.15rem solid var(--color-main);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 0.7rem 0.7rem;
}

.loginForm__fields{
    margin: 3rem auto;
    width: var(--container-width-lg);
}

.loginForm__userInput-field{
    font-size: 1.5rem;
    line-height: 3rem;
    display: grid;
    grid-template-columns: 15% 85%;
    margin-bottom: 3rem;

}

.loginForm__userInput-field label{
    background-color:var(--color-main);
    color: var(--color-white);
    padding: 0.5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.loginForm__userInput-field input{
    border: 0.15rem solid var(--color-main);
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0 0.8rem;
    background-color: transparent;
}

.loginForm__help{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem auto;
    padding: 0 1rem 1rem;
}

.loginForm__help label{
    align-self: center;
    font-size: 1rem;
}

#rememberAcc{
    transform: scale(1.5);
    margin-right: 0.8rem;
}

.loginForm__help a{
    align-self: center;
    font-size: 1rem;
    text-align: right;
}

.loginForm__submit{
    margin: 0 auto;
    font-size: 1.5rem;
}

.loginForm__cta{
    text-align: center;
    margin: 0 auto;
}

/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1024px) {
    .loginForm{
        width: calc(var(--container-width-md) - 20%);
    }

    .loginForm__fields{
        width: var(--container-width-md);
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 600px) {
    .loginForm{
        width: var(--container-width-sm);
        margin-top: 3.5rem;
    }

    .loginForm__fields{
        width: var(--container-width-sm);
    }

}