#authHeader{
    margin: 1rem 0;
    text-align: center;
}

#authHeader__logo{
    max-width: 7rem;
}

#authHeader__appname{
    display: block;
    margin: 3rem auto 0.8rem;
    max-width: 8rem;
}

/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1800px) {
    #authHeader{
        margin-top: 2rem;
    }

    /* #authHeader__logo{
        max-width: 7rem;
    } */

    #authHeader__appname{
        margin: 3rem auto;
        max-width: 7rem;
    }
}

@media screen and (max-width: 1540px) {
    #authHeader{
        margin-top: 1rem;
    }

    /* #authHeader__logo{
        max-width: 7rem;
    } */

    #authHeader__appname{
        margin: 1.2rem auto;
        max-width: 6rem;
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 720px) {
    #authHeader{
        margin-top: 1rem;
    }
    #authHeader__appname{
        font-size: 2rem;
    }
}