#authHeader{
    margin: 1rem 0;
    text-align: center;
}

#authHeader__logo{
    max-width: 7rem;
}

#authHeader__appname{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-main);
}

/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1800px) {
    #authHeader{
        margin-top: 2rem;
    }

    #authHeader__logo{
        max-width: 7rem;
    }

    #authHeader__appname{
        font-size: 2rem;
    }
}

@media screen and (max-width: 1540px) {
    #authHeader{
        margin-top: 1rem;
    }

    #authHeader__logo{
        max-width: 7rem;
    }

    #authHeader__appname{
        font-size: 1.7em;
    }
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 720px) {
    #authHeader{
        margin-top: 1rem;
    }
    #authHeader__appname{
        font-size: 2rem;
    }
}