.updater{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    direction: rtl;
}
.dashboard-button{
    align-self: center;
    height: 80%;
    width: max-content;
    justify-self: end;
    direction: ltr;
}

/* ========== Media Queries (MEDIUM DEVICES): ========== */
@media screen and (max-width: 1024px) {
    .updater{
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        align-content: center;
        gap: 1rem;
        height: 85%;
    }
    .dashboard-button{
        align-self: center;
        width: min-content;
        height: 75%;
        padding: 0.2rem;
    }
    
}

/* ========== Media Queries (SMALL DEVICES): ========== */
@media screen and (max-width: 600px) {

}