.password{
 text-align: center;
 color: var(--color-main);
font-size: 25px;
font-weight: 900;
padding-top: 20px ;
}

.forgotPassword{
    text-align: center;
    color: var(--color-main);
    padding: 0.5rem;
    font-size: 3rem;
}

h4{
    text-align: center;
    color: var(--color-main);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.resendEmail{
    text-align: center;
    color: var(--color-main);
    padding: 0.5rem;
    font-size: 1rem;
}

.forgotPass{
    padding:  10px;
}
