.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
 text-align: center;
 color: var(--color-main);
 padding: 0.5rem;
 font-size: 3rem;
}

.forgotPassword{
    text-align: center;
    color: var(--color-main);
    padding: 0.5rem;
    font-size: 3rem;
}

h4{
    text-align: center;
    color: var(--color-main);
    padding: 0.5rem;
    font-size: 1rem;
}